body{
    text-align: center;
}

.splide img{
    width: 350px;
    height: 250px;
}

.inhabilitar{
    display: none;
}


.habilitar{
    display: inline;
}

.logo{
    width: 150px;
    height: 250px; 
}

.contact-title{
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: 60px;
    margin-left: 20px;
    color: goldenrod;
}


.form-container{
    margin-top: 80px;
    margin-left: 40px;
    color:goldenrod;
    font-size: 20px;
}

.form-container .form-group{
    margin-top: 30px;
}

.form-container .form-group label{
    display: block;
    font-size: 15px;
}

.form-container .form-group input{
    font-size: 12px;
    padding: 5px 10px;
}

.form-container .form-group .pristine-error{
    color:red;
}